:root {
    --bulma-primary-h: 0deg;
    --bulma-primary-s: 0%;
    --bulma-primary-l: 88%;
    --bulma-link-h: 226deg;
    --bulma-link-s: 70%;
    --bulma-link-l: 55%;
    --bulma-info-h: 193deg;
    --bulma-info-s: 98%;
    --bulma-info-l: 74%;
    --bulma-success-h: 151deg;
    --bulma-success-s: 55%;
    --bulma-success-l: 42%;
    --bulma-warning-l: 62%;
    --bulma-danger-h: 358deg;
    --bulma-danger-s: 75%;
    --bulma-danger-l: 59%;
    --bulma-body-size: 0.875em;
}

@view-transition {
    navigation: auto;
}